<?xml version="1.0"?>
<config>
    <modules>
        <Demo_Crud>
            <version>0.1.0</version>
        </Demo_Crud>
    </modules>
    <global>
        <blocks>
            <crud>
                <class>Demo_Crud_Block</class>
            </crud>
        </blocks>
        <helpers>
            <crud>
                <class>Demo_Crud_Helper</class>
            </crud>
        </helpers>
        <models>
            <crud>
                <class>Demo_Crud_Model</class>
                <resourceModel>crud_mysql4</resourceModel>
            </crud>
            <crud_mysql4>
                <class>Demo_Crud_Model_Mysql4</class>
                <entities>
                    <crud>
                        <table>crud</table>
                    </crud>
                </entities>
            </crud_mysql4>
        </models>
        <resources>
            <crud_setup>
                <setup>
                    <module>Demo_Crud</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </crud_setup>
            <crud_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </crud_write>
            <crud_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </crud_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <crud>
                <use>standard</use>
                <args>
                    <module>Demo_Crud</module>
                    <frontName>crud</frontName>
                </args>
            </crud>
        </routers>
        <layout>
            <updates>
                <crud>
                    <file>crud.xml</file>
                </crud>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <demo_crud>
                    <file>demo/crud.xml</file>
                </demo_crud>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <demo_crud before="Mage_Adminhtml">Demo_Crud_Adminhtml</demo_crud>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>