<?xml version="1.0"?>
<config>
    <modules>
        <Demo_Blog>
            <version>0.1.0</version>
        </Demo_Blog>
    </modules>
    <frontend>
        <routers>
            <blog>
                <use>standard</use>
                <args>
                    <module>Demo_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
        <layout>
            <updates>
                <blog>
                    <file>blog.xml</file>
                </blog>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <blog>
                <class>Demo_Blog_Model</class>
                <resourceModel>blog_mysql4</resourceModel>
            </blog>
            <blog_mysql4>
                <class>Demo_blog_Model_Mysql4</class>
                <entities>
                    <blog>
                        <table>blog</table>
                    </blog>
                </entities>
            </blog_mysql4>
        </models>
        <resources>
            <blog_setup>
                <setup>
                    <module>Demo_Blog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blog_setup>
            <blog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blog_write>
            <blog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blog_read>
        </resources>
        <blocks>
            <blog>
                <class>Demo_Blog_Block</class>
            </blog>
        </blocks>
        <helpers>
            <blog>
                <class>Demo_Blog_Helper</class>
            </blog>
        </helpers>
    </global>
</config>